.card img{
    width: 150px;
    height: 145px;
    margin-bottom: 15px;
}

body{
    margin: 0;
    font-weight: 1.5385;
    color: black;
    text-align: left;
}

.card-img-actions{
    position: relative;
}

a{
    text-decoration: none;
}